body { 
    animation-name: fade-in; 
    animation-duration: 1s; 
}

@-webkit-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;} 
}

.container {
    text-align: center; 
}
.h1 {
    font-size: 70px; 
    font-weight: lighter; 
}

.h2 {
    margin: 25px; 
}

#profile {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    height: 40%; 
    width: 40%;
}

#description, p {
    margin-top: 30px;
    font-size: 24px; 
}

#content {
    background: #e8e8e8;
    color: black; 
    margin-top: 50px; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}

#contactcontent {
    background: #e8e8e8;
    color: black; 
    margin-top: 50px; 
    border-radius: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}

